<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <!-- extract style from sub-pages into the layout -->
        <%- style %>  
    </head>
    <body>
         <!-- Inserting Header layout -->
         <%- include('_header'); %>
        
         <!-- Variable body part -->
         <%- body %>

         <!-- Inserting Footer layout -->
         <%- include('_footer'); %>
        
         <!-- extract scripts from sub-pages into the layout -->
         <%- script %>
    </body>
</html>